[submodule "/home/galileo/Documents/Projects/JabRef-Connector/translators/zotero"]
	path = /home/galileo/Documents/Projects/JabRef-Connector/translators/zotero
	url = https://github.com/zotero/translators
