[submodule "translators/zotero"]
	path = translators/zotero
	url = https://github.com/tobiasdiez/translators.git
[submodule "sources/zotero-translate"]
	path = sources/zotero-translate
	url = https://github.com/tobiasdiez/translate.git
[submodule "sources/zotero-utilities"]
	path = sources/zotero-utilities
	url = https://github.com/tobiasdiez/utilities.git
